main {
  max-width: 760px;
  margin: auto;
}
.text-section,
.recipe-header {
  background-color: #bae1ff;
  margin: 48px auto;
  border-radius: 16px;
  width: 100%;
  padding: 8px 24px;
  max-width: 580px;
}

.recipe-header {
  text-align: center;
}

h2,
h3 {
  margin-bottom: 0px;
  margin-top: 8px;
}
img {
  border-radius: 12px;
}

ol > li {
  margin-bottom: 12px;
}
