main {
  max-width: 760px;
  margin: auto;
}
main.is-transitioned {
  animation: fade-in 1.5s forwards;
  opacity: 0;
  transform: translatey(50vh);
}
.text-section,
.recipe-header {
  background-color: var(--secondary-bg-color);
  margin: 48px auto;
  border-radius: var(--standard-border-radius);
  width: 100%;
  padding: 8px 24px;
  max-width: 580px;
  box-sizing: border-box;
}

.recipe-header {
  text-align: center;
  max-width: unset;
}

h2,
h3 {
  margin-bottom: 0px;
  margin-top: 8px;
}
img {
  border-radius: var(--standard-border-radius);
  width: 100%;
}
ol {
  padding-left: 0;
  list-style: inside decimal;
}
ol > li {
  margin-bottom: var(--standard-margin-bottom);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translatey(50vh);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
