:root {
  --primary-bg-color: #cfeaff;
  --secondary-bg-color: #bae1ff;
  --secondary-bg-color-fade: rgba(186, 225, 255, 0.95);
  --standardPadding: 16px;
  --standard-border-radius: 16px;
  --large-border-radius: 50px;
  --standard-margin-bottom: 12px;
}

body {
  max-width: 900px;
  margin: auto;
  background-color: var(--primary-bg-color);
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-weight: 200;
}

nav {
  margin-top: 24px;
  a {
    font-size: 16px;
    text-decoration: underline;
  }
}

.recipe-link-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.recipe-link {
  margin-bottom: var(--standard-margin-bottom);
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: var(--large-border-radius);
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.recipe-link:hover {
  background-color: var(--secondary-bg-color-fade);
  border-color: white;
  a {
    color: white;
    transition: color 0.3s ease;
  }
  transition: border-color 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  body {
    margin: auto 24px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
}
